{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="has-text-centered">Se connecter</h1>

        <div class="loginContainer marginLoginContainer">
            <form class="formPadding" method="post">
                <div class="columns is-multiline has-text-centered mt-5">
                    <div class="column is-12">
                        <label for="inputLogin">Nom d'utilisateur</label> <br>
                        <input class="inputBottomLine" type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    
                </div>

                <div class="columns is-multiline has-text-centered mt-5">
                    <div class="column is-12">
                        <label for="inputPassword">Mot de passe</label> <br>
                        <input class="inputBottomLine" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <div class="columns is-multiline has-text-centered">
                    <div class="column is-12">
                        {% if error %}
                            {% if error.message == 'The presented password is invalid.' %}
                                <span class="tag is-danger">Email ou mot de passe incorrect.</span> <br>
                            {% else %}
                                <span class="tag is-danger">{{ error.message }}</span> <br>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="column is-12 m-0 p-0 hiddenMobile is-flex is-justify-content-center">
                        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a> <br>
                    </div>
                    <div class="column is-12 m-0 p-0 hiddenMobile is-flex is-justify-content-center">
                        <a onclick="openModal('sendMailLogin')">Renvoyer mail de validation de compte</a> <br>
                    </div>

                    <div class="column is-12 mb-5 mt-5">
                        <button class="button" type="submit">
                            Se connecter
                        </button>
                        <div class="column is-12 is-12-mobile has-text-centered showOnMobile is-flex is-justify-content-center pb-0">
                            <a href="{{ path('app_register') }}">Inscription</a>
                        </div>
                        <div class="column is-12 is-12-mobile has-text-centered showOnMobile is-flex is-justify-content-center pb-0 pt-1">
                            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                        </div>
                        <div class="column is-12 is-12-mobile has-text-centered showOnMobile is-flex is-justify-content-center pt-1">
                            <a onclick="openModal('sendMailLogin')">Renvoyer mail de validation de compte</a> <br>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    

    <div class="modal" id="sendMailLogin">
        <div class="modal-background"></div>
        <div class="modal-card">
            <form method="post" action="{{ path('send_verif_mail') }}">
                <header class="modal-card-head">
                    <p class="modal-card-title">Renvoyer email</p>
                    <a class="delete" aria-label="close" onclick="closeModal('sendMailLogin')"></a>
                </header>
                <section class="modal-card-body">
                        <input placeholder="Email..." class="input" type="text" name="emailSend" id="inputEmailSend" class="form-control" required autofocus>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-success" onclick="closeModal('sendMailLogin')">Valider</button>
                </footer>
            </form>
        </div>
    </div>
{% endblock %}
