<div class="modal" id="modalPreviewImage">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modifier image à la une</p>
            <a class="delete" aria-label="close" onclick="closeModal('modalPreviewImage');"></a>
        </header>
        <section class="modal-card-body">
            <div class="columns is-multiline">
                {% for photo in figure.photoFigures %}
                    {% if photo.id %}
                        <div class="photoTrick column is-6">
                            <img class="cursor" src="/assets/img/{{photo.path}}" onclick="changePreviewImage('/assets/img/{{photo.path}}','{{photo.id}}', '{{photo.idFigure.id}}');">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button" onclick="closeModal('modalPreviewImage');">Retour</a>
        </footer>
    </div>
</div>

<div class="modal" id="modalDeleteImage">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Vous voulez supprimer l'image à la une ?</p>
            <a class="delete" aria-label="close" onclick="closeModal('modalDeleteImage');"></a>
        </header>
        <footer class="modal-card-foot">
            <a class="button" onclick="closeModal('modalDeleteImage');">Non</a>
            <a class="button is-success" onclick="deletePreviewImage({{figure.photoFigures[0].idFigure.id}})">Oui</a>
        </footer>
    </div>
</div>

<div class="modal" id="modalDeleteFigure">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Vous voulez supprimer cette figure ?</p>
            <a class="delete" aria-label="close" onclick="closeModal('modalDeleteFigure');"></a>
        </header>
        <footer class="modal-card-foot">
            <a class="button" onclick="closeModal('modalDeleteFigure');">Non</a>
            <a class="button is-success" onclick="deleteFigure({{figure.photoFigures[0].idFigure.id}})">Oui</a>
        </footer>
    </div>
</div>

{# je boucle sur mes photos pour avoir le memes nombres de modals #}
{% for photo in figure.photoFigures %}
    <div class="modal" id="modalPreviewImage{{loop.index-1}}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modifier image</p>
                <a class="delete" aria-label="close" onclick="closeModal('modalPreviewImage{{loop.index-1}}')"></a>
            </header>
            <section class="modal-card-body">
                {{ form_widget(form.photoFigures[(loop.index)-1], {'attr' : {'class': 'input'}} ) }}
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success" onclick="closeModal('modalPreviewImage{{loop.index-1}}')">Valider</a>
            </footer>
        </div>
    </div>         
{% endfor %}

{# je boucle sur mes videos pour avoir le memes nombres de modals #}
{% for video in figure.videoFigures %}
    <div class="modal" id="modalPreviewVideo{{loop.index-1}}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modifier vidéo</p>
                <a class="delete" aria-label="close" onclick="closeModal('modalPreviewVideo{{loop.index-1}}')"></a>
            </header>
            <section class="modal-card-body">
                <span class="tag is-light mb-2">Veuillez entrer un lien de type embed</span>
                {{ form_widget(form.videoFigures[(loop.index)-1].path, {'attr' : {'class': 'input', 'placeholder' : 'Video de la figure'}} ) }}
                {# {{ form_widget(form.videoFigures[(loop.index)-1], {'attr' : {'class': 'input'}} ) }} #}
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success" onclick="closeModal('modalPreviewVideo{{loop.index-1}}')">Valider</a>
            </footer>
        </div>
    </div>
{% endfor %}