{% extends 'base.html.twig' %}


{% block content %}

    <div class="container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="has-text-centered">Inscription</h1>

        <div class="loginContainer">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.login, {
                    label: 'Nom d\'utilisateur'
                }) }}
                {{ form_row(registrationForm.email, {
                    label: 'Email'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}

                <button type="submit" class="button">Créer un compte</button>
            {{ form_end(registrationForm) }}
        
        
        </div>
    </div>
{% endblock %}
