{% extends 'base.html.twig' %}


{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
        <h1 class="has-text-centered">Mot de passe oublié</h1>
        <div class="loginContainer marginLoginContainer">
            {{ form_start(requestForm, {'attr' : { 'class':'formPadding'}}) }}
                <div class="columns is-multiline has-text-centered mt-5">
                    <div class="column is-12">
                        {{ form_label(requestForm.login, 'Nom d\'utilisateur') }}
                    </div>
                    <div class="column is-12">
                        {{ form_widget(requestForm.login, {'attr' : { 'class':'inputBottomLine'}}) }}
                    </div>
                    <div class="column is-12 mt-5">
                        <button class="button">Demander nouveau mot de passe</button>
                    </div>

                </div>
                <div>
                    
                </div>

                
            {{ form_end(requestForm) }}
        </div>
    </div>

    
{% endblock %}
