{% extends 'base.html.twig' %}

{% block content %}

    {{ form_start(form, {'attr': {'id': 'form_update'}}, {'method': 'POST'}) }}

        <div class="photoTrickSpotlight">
            {% set count = 0 %}
            {% for photo in figure.photoFigures %}
                {% if photo.preview %}
                    <div id="containerPreviewImage">
                        <img id="previewImage" class="width100" src="/assets/img/{{photo.path}}">
                        <div class="button is-small updateAndDeleteContainer">
                            <a class="mr-5" onclick="openModal('modalPreviewImage')"><i class="fa-solid fa-pen"></i></a>
                            <a class="photo_delete" onclick="openModal('modalDeleteImage')" id="photo_delete_{{photo.id}}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                {% else %}
                    {# on affiche qu'une seule fois la figure de base 1 = 1 OK // 2 = 1 NO  #}
                    {% set count = count + 1 %} 
                    {% if figure.photoFigures|length == count %}
                        <div id="containerPreviewImage">
                            <img id="previewImage" class="width100" src="/assets/img/base.jpg">
                            <div class="button is-small updateAndDeleteContainer">
                                <a class="mr-5" onclick="openModal('modalPreviewImage')"><i class="fa-solid fa-pen"></i></a>
                                <a class="photo_delete" onclick="openModal('modalDeleteImage')" id="photo_delete_{{photo.id}}"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="columns is-multiline width90Auto">
            {# je boucle sur les photos de mes figures #}
            {% for photo in figure.photoFigures %}
                    <div class="photoTrick column is-2 margin-bot4" id="photo_{{photo.id}}">
                        <img src="/assets/img/{{photo.path}}">
                        {% if photo.path is null %}
                            <span class="tag is-danger">Veuillez renseigner une image</span><br>
                        {% endif %}
                        {% if form.photoFigures.vars['errors']|length > 0 %}
                            {% for error in form.photoFigures.vars['errors'] %}
                                {# je recupere l'index de la boucle de mes erreurs et je regarde si le message(index de l'erreur) est l'index de ma boucle alors j'affiche si oui #}
                                {% if (loop.parent.loop.index)-1 == error.message %} 
                                    <span id="error_photo_{{loop.parent.loop.index-1}}" class="tag is-danger">Extensions jpeg/jpg ou png autorisés</span><br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="button is-small">
                            <a class="mr-5" onclick="openModal('modalPreviewImage{{loop.index-1}}')"><i class="fa-solid fa-pen"></i></a>
                            <a onclick="deletePhotoOrVideo('{{photo.id}}', 'photo')" ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
            {% endfor %}

            {# je boucle sur les videos de mes figures #}
            {% for video in figure.videoFigures %}
                <div class="videoTrick column is-2 margin-bot4" id="video_{{video.id}}">
                    {# on met les videos original car sinon a la modification elles sont remplacés par des mauvaises en car d'erreurs #}
                    {% if originalVideos[(loop.index)-1] is defined %}
                        <iframe src="{{originalVideos[(loop.index)-1]}}" title="YouTube video player" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    {% else %}
                        <input onclick="openModal('modalPreviewVideo{{loop.index-1}}')" type="text" class="input" value="Cliquez ici pour changer">

                        {% if form.videoFigures.vars['errors']|length > 0 %}
                            {% for error in form.videoFigures.vars['errors'] %}
                                {# je recupere l'index de la boucle de mes erreurs et je regarde si le message(index de l'erreur) est l'index de ma boucle alors j'affiche si oui #}
                                {% if (loop.parent.loop.index)-1 == error.message %} 
                                    <span id="error_{{loop.parent.loop.index-1}}" class="tag is-danger">Veuillez insérer une balise de type embed</span><br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="button is-small">
                            <a class="mr-5" onclick="openModal('modalPreviewVideo{{loop.index-1}}')"><i class="fa-solid fa-pen"></i></a>
                            <a onclick="deletePhotoOrVideo('{{video.id}}', 'video')" ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    {% endif %}
                    {# si les vidéos sont déja présentes on affiche un autre render de message d'erreur #}
                    {% if originalVideos[(loop.index)-1] is defined %}
                        {% if form.videoFigures.vars['errors']|length > 0 %}
                            {% for error in form.videoFigures.vars['errors'] %}
                                {# je recupere l'index de la boucle de mes erreurs et je regarde si le message(index de l'erreur) est l'index de ma boucle alors j'affiche si oui #}
                                {% if (loop.parent.loop.index)-1 == error.message %} 
                                    <span id="error_{{loop.parent.loop.index-1}}" class="tag is-danger">Veuillez insérer une balise de type embed</span><br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="button is-small">
                            <a class="mr-5" onclick="openModal('modalPreviewVideo{{loop.index-1}}')"><i class="fa-solid fa-pen"></i></a>
                            <a onclick="deletePhotoOrVideo('{{video.id}}', 'video')" ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    
                    {% endif %}
                </div>
            {% endfor %}

            <div class="tagsVideoUpdate columns is-multiline column is-12" data-prototype="{{ form_widget(form.videoFigures.vars.prototype)|e('html_attr') }}"
                data-index="{{ form.videoFigures|length }}">
            </div>
            <div class="tagsPhotoUpdate columns is-multiline column is-12" data-prototype="{{ form_widget(form.photoFigures.vars.prototype)|e('html_attr') }}"
                data-index="{{ form.photoFigures|length }}">
            </div>

        </div>

        <div class="container mt-6">
            <a class="button is-small is-info add_item_link" data-collection-holder-class="tagsVideoUpdate">Ajout vidéo</a>
            <a class="button is-small is-info add_item_link" data-collection-holder-class="tagsPhotoUpdate">Ajout photo</a>
        </div>

        <div class="description container mt-3">
            {{ form_widget(form.nom, {'attr' : {'class': 'input'}} ) }}
            {% if form.nom.vars['errors']|length > 0 %}
                {% for error in form.nom.vars['errors'] %}
                    <span class="tag is-danger">Le nom de cette figure existe déjà</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="description container mt-3">
            {{ form_widget(form.description, {'attr' : {'class': 'textarea', 'placeholder' : 'Commentaire'}} ) }}
        </div>

        <div class="container mt-3">

            <div class="columns">
                <div class="column is-2">
                    <div class="select width100">
                        {{ form_widget(form.groupe_figure, {'attr' : {'class':'width100', 'placeholder' : 'Description'}} ) }}
                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="columns">
                <div class="column is-offset-10 is-1">
                    <a class="button is-danger" onclick="openModal('modalDeleteFigure')">Supprimer</a>
                </div>
                <div class="column is-1">
                    {{ form_row(form.save, { 'label': 'Sauvegarder', 'attr' : {'class' : 'button'} }) }}
                </div>
            </div>
        </div>


        <div class="modal" id="modalPreviewImage">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modifier image à la une</p>
                    <a class="delete" aria-label="close" onclick="closeModal('modalPreviewImage');"></a>
                </header>
                <section class="modal-card-body">
                    <div class="columns is-multiline">
                        {% for photo in figure.photoFigures %}
                            {% if photo.id %}
                                <div class="photoTrick column is-6">
                                    <img class="cursor" src="/assets/img/{{photo.path}}" onclick="changePreviewImage('/assets/img/{{photo.path}}','{{photo.id}}', '{{photo.idFigure.id}}');">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a class="button" onclick="closeModal('modalPreviewImage');">Retour</a>
                </footer>
            </div>
        </div>

        <div class="modal" id="modalDeleteImage">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Vous voulez supprimer l'image à la une ?</p>
                    <a class="delete" aria-label="close" onclick="closeModal('modalDeleteImage');"></a>
                </header>
                <footer class="modal-card-foot">
                    <a class="button" onclick="closeModal('modalDeleteImage');">Non</a>
                    <a class="button is-success" onclick="deletePreviewImage({{figure.photoFigures[0].idFigure.id}})">Oui</a>
                </footer>
            </div>
        </div>

        <div class="modal" id="modalDeleteFigure">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Vous voulez supprimer cette figure ?</p>
                    <a class="delete" aria-label="close" onclick="closeModal('modalDeleteFigure');"></a>
                </header>
                <footer class="modal-card-foot">
                    <a class="button" onclick="closeModal('modalDeleteFigure');">Non</a>
                    <a class="button is-success" onclick="deleteFigure({{figure.photoFigures[0].idFigure.id}})">Oui</a>
                </footer>
            </div>
        </div>

        {# je boucle sur mes photos pour avoir le memes nombres de modals #}
        {% for photo in figure.photoFigures %}
            <div class="modal" id="modalPreviewImage{{loop.index-1}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Modifier image</p>
                        <a class="delete" aria-label="close" onclick="closeModal('modalPreviewImage{{loop.index-1}}')"></a>
                    </header>
                    <section class="modal-card-body">
                        {{ form_widget(form.photoFigures[(loop.index)-1], {'attr' : {'class': 'input'}} ) }}
                    </section>
                    <footer class="modal-card-foot">
                        <a class="button is-success" onclick="closeModal('modalPreviewImage{{loop.index-1}}')">Valider</a>
                    </footer>
                </div>
            </div>         
        {% endfor %}

        {# je boucle sur mes videos pour avoir le memes nombres de modals #}
        {% for video in figure.videoFigures %}
            <div class="modal" id="modalPreviewVideo{{loop.index-1}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Modifier vidéo</p>
                        <a class="delete" aria-label="close" onclick="closeModal('modalPreviewVideo{{loop.index-1}}')"></a>
                    </header>
                    <section class="modal-card-body">
                        <span class="tag is-light mb-2">Veuillez entrer un lien de type embed</span>
                        {{ form_widget(form.videoFigures[(loop.index)-1].path, {'attr' : {'class': 'input', 'placeholder' : 'Video de la figure'}} ) }}
                        {# {{ form_widget(form.videoFigures[(loop.index)-1], {'attr' : {'class': 'input'}} ) }} #}
                    </section>
                    <footer class="modal-card-foot">
                        <a class="button is-success" onclick="closeModal('modalPreviewVideo{{loop.index-1}}')">Valider</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
        {{ form_rest(form) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
