{% extends 'base.html.twig' %}

{% block content %}

    {% if addTrick == true %}
        <div class="columns is-12">
            <div class="column is-2 is-offset-5">
                <div class="notification is-primary has-text-centered">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>
                        Figure ajouté !
                    </strong>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deleteTrick == true %}
        <div class="columns is-12">
            <div class="column is-2 is-offset-5">
                <div class="notification is-primary has-text-centered">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>
                        Figure supprimé !
                    </strong>
                </div>
            </div>
        </div>
    {% endif %}

    <img class="imgHome" src="{{ asset('assets/img/home.jpg') }}">

    <div class="columns is-multiline width90Auto" id="tricksHome">
        {# je boucle sur toutes mes figures #}
        {% for figure in figures %}
            <div class="column is-one-fifth">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/assets/img/{{figure.photoFigures[0].path}}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <a class="title is-4" href="{{ path('tricks', {id: figure.id, slug: figure.slug}) }}">{{figure.nom}}</a>
                            </div>
                            <div class="media-right">
                                <a class="mr-5" href="{{ path('tricks_update', {id: figure.id, slug: figure.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                                <a onclick="openModal('modalDeleteFigure'+{{figure.id}})"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="modalDeleteFigure{{figure.id}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Vous voulez supprimer cette figure ?</p>
                        <a class="delete" aria-label="close" onclick="closeModal('modalDeleteFigure{{figure.id}}');"></a>
                    </header>
                    <footer class="modal-card-foot">
                        <a class="button" onclick="closeModal('modalDeleteFigure{{figure.id}}');">Non</a>
                        <a class="button is-success" onclick="deleteFigure({{figure.id}})">Oui</a>
                    </footer>
                </div>
            </div>

        {% endfor %}
        
    </div>
    

{% endblock %}