{% extends 'base.html.twig' %}

{% block content %}

    {% if addTrick == true %}
        <div class="columns is-12">
            <div class="column is-2 is-offset-5">
                <div class="notification is-primary has-text-centered">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>
                        Figure ajouté !
                    </strong>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deleteTrick == true %}
        <div class="columns is-12">
            <div class="column is-2 is-offset-5">
                <div class="notification is-primary has-text-centered">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>
                        Figure supprimé !
                    </strong>
                </div>
            </div>
        </div>
    {% endif %}

    <div>
        <img class="imgHome" src="{{ asset('assets/img/home.jpg') }}">
        <a href="#tricksHome" class="textDecoNone">
            <i class="fa-solid fa-arrow-down fa-2x cursor arrowDownHome"></i>
        </a>
    </div>

    <div class="columns is-multiline width90Auto" id="tricksHome">
        {# je boucle sur toutes mes figures #}
        {% for figure in figures %}
            {% if loop.index > 15 %}
                <div class="column is-one-fifth-desktop is-one-quarter-tablet displayNoneFigure">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                {% set count = 0 %}
                                {% for photo in figure.photoFigures %}
                                    {% if photo.preview %}
                                        <img src="/assets/img/{{photo.path}}">
                                    {% else %}
                                        {% set count = count + 1 %}
                                        {% if figure.photoFigures|length == count %}
                                            <img src="/assets/img/base.jpg">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <a class="title is-4" href="{{ path('tricks', {id: figure.id, slug: figure.slug}) }}">{{figure.nom}}</a>
                                </div>
                                {% if app.user.roles is defined %}
                                    {% for role in app.user.roles %}
                                        {% if role == "ROLE_ADMIN" %}
                                            <div class="media-right">
                                                <a class="mr-5" href="{{ path('tricks_update', {id: figure.id, slug: figure.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                                                <a onclick="openModal('modalDeleteFigure'+{{figure.id}})"><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="column is-one-fifth-desktop is-one-third-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                {% set count = 0 %}
                                {% for photo in figure.photoFigures %}
                                    {% if photo.preview %}
                                        <img src="/assets/img/{{photo.path}}">
                                    {% else %}
                                        {% set count = count + 1 %}
                                        {% if figure.photoFigures|length == count %}
                                            <img src="/assets/img/base.jpg">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <a class="title is-4" href="{{ path('tricks', {id: figure.id, slug: figure.slug}) }}">{{figure.nom}}</a>
                                </div>
                                {% if app.user.roles is defined %}
                                    {% for role in app.user.roles %}
                                        {% if role == "ROLE_ADMIN" %}
                                            <div class="media-right">
                                                <a class="mr-5" href="{{ path('tricks_update', {id: figure.id, slug: figure.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                                                <a onclick="openModal('modalDeleteFigure'+{{figure.id}})"><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            <div class="modal" id="modalDeleteFigure{{figure.id}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Vous voulez supprimer cette figure ?</p>
                        <a class="delete" aria-label="close" onclick="closeModal('modalDeleteFigure{{figure.id}}');"></a>
                    </header>
                    <footer class="modal-card-foot">
                        <a class="button" onclick="closeModal('modalDeleteFigure{{figure.id}}');">Non</a>
                        <a class="button is-success" onclick="deleteFigure({{figure.id}})">Oui</a>
                    </footer>
                </div>
            </div>

        {% endfor %}
        <div class="column is-12 has-text-centered" id="hideWhenFullyFigure">
            <a class="button is-large">
                <i class="fa-solid fa-spinner fa-spin-pulse mr-2"></i>
                Load More
            </a>
        </div>
    </div>
    
    <div class="arrowUpHome">
        <a href="#navbar" class="textDecoNone">
            <i class="fa-solid fa-arrow-up fa-2x cursor"></i>
        </a>
    </div>

{% endblock %}
