{% extends 'base.html.twig' %}



{% block content %}
    <div class="photoTrickSpotlight">
        <img class="width100" src="/assets/img/{{figure.photoFigures[0].path}}">
    </div>

    <div class="columns is-multiline width90Auto">
        {# je boucle sur les photos de mes figures #}
        {% for photo in figure.photoFigures %}
            <div class="photoTrick column is-2">
                <img src="/assets/img/{{photo.path}}">
            </div>
        {% endfor %}

        {# je boucle sur les videos de mes figures #}
        {% for video in figure.videoFigures %}
            <div class="videoTrick column is-2">
                <iframe src="{{video.path}}" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        {% endfor %}
    </div>

    <div class="description container mt-6">
        <p class="has-text-centered">{{figure.description}}</p> <br>
        <p class="has-text-centered">{{figure.description[:300]}}</p>
    </div>

    <div class="container dateContainerFigure mt-6">
        <p class="mr-4"><span class="has-text-weight-bold">Date création :</span>  {{figure.dateCreation|date("d/m/Y")}}</p>
        <p class="mr-4"><span class="has-text-weight-bold">Date modification :</span>  {{figure.dateModification|date("d/m/Y")}}</p>
        <p class="mr-4"><span class="has-text-weight-bold">Groupe de figure :</span>  {{figure.stringGroupeFigure}}</p>
    </div>
    <hr>

    <div class="container">
        <form action="" method="POST">
            <input class="input" type="text" name="comment" id="comment">
            <button class="button" type="submit">Leave a comment</button>
        </form>
        
    </div>
    
    

{% endblock %}
