{% extends 'base.html.twig' %}



{% block content %}
    <div class="photoTrickSpotlight">
        <img class="width100" src="/assets/img/{{figure.photoFigures[0].path}}">
    </div>

    <div class="columns is-multiline width90Auto">
        {# je boucle sur les photos de mes figures #}
        {% for photo in figure.photoFigures %}
            <div class="photoTrick column is-2">
                <img src="/assets/img/{{photo.path}}">
            </div>
        {% endfor %}

        {# je boucle sur les videos de mes figures #}
        {% for video in figure.videoFigures %}
            <div class="videoTrick column is-2">
                <iframe src="{{video.path}}" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        {% endfor %}
    </div>

    <div class="description container mt-6">
        <p class="has-text-centered">{{figure.description}}</p> <br>
        <p class="has-text-centered">{{figure.description[:300]}}</p>
    </div>

    <div class="container dateContainerFigure mt-6">
        <p class="mr-4"><span class="has-text-weight-bold">Date création :</span>  {{figure.dateCreation|date("d/m/Y")}}</p>
        <p class="mr-4"><span class="has-text-weight-bold">Date modification :</span>  {{figure.dateModification|date("d/m/Y")}}</p>
        <p class="mr-4"><span class="has-text-weight-bold">Groupe de figure :</span>  {{figure.stringGroupeFigure}}</p>
    </div>
    <div class="container">
        <hr>
    </div>

    <div class="container">
        <form class="" action="" method="POST">
            {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                <div class="columns is-centered">
                    <div class="column is-6">
                        {{ form_widget(form.contenu, {'attr' : {'class': 'input', 'placeholder' : 'Commentaire'}} ) }}
                    </div>
                    <div class="column is-2">
                        {{ form_row(form.save, { 'label': 'Leave a comment', 'attr' : {'class' : 'button'} }) }}
                    </div>
                </div>
            {{ form_end(form) }}

        </form>
        <hr>
    </div>
    
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-10">
                {# je boucle sur les commentaires de ma figure #}
                {% for com in figure.commentaires|reverse|slice(firstCom,lastCom) %}
                    <div class="commentaires mb-3">
                        <img class="avatarCom" src="/assets/img/{{com.user.photo}}">

                        <div class="commentaire">
                            <p class="mt-4">{{com.contenu}}</p>
                            <div class="footerCommentaire">
                                <div class="is-flex">
                                    <p class="mr-2 has-text-weight-bold zeroNineRem">{{com.user.nom}}</p>
                                    <p class="has-text-weight-bold zeroNineRem">{{com.user.prenom}}</p>
                                </div>
                                <div>
                                    <p class="has-text-weight-bold zeroNineRem">{{com.date|date("d/m/Y")}}</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                {% endfor %}
            </div>
        
            <div class="column is-10">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    {% if currentPage == 1 %}
                        <a class="pagination-previous" href="{{url}}?com={{currentPage-1}}" disabled>Précédent</a>
                    {% else %}
                        <a class="pagination-previous" href="{{url}}?com={{currentPage-1}}">Précédent</a>
                    {% endif %}
                    {% if currentPage == pages %}
                        <a class="pagination-next" href="{{url}}?com={{currentPage+1}}" disabled>Suivant</a>
                    {% else %}
                        <a class="pagination-next" href="{{url}}?com={{currentPage+1}}">Suivant</a>
                    {% endif %}
                    <ul class="pagination-list">
                        {% if currentPage == 1 %}
                            <li><a class="pagination-link mt-1" aria-label="Goto page 1" disabled>1</a></li>
                        {% else %}
                            <li><a href="{{url}}?com=1" class="pagination-link mt-1" aria-label="Goto page 1">1</a></li>
                        {% endif %}
                        <li><a href="{{url}}?com={{currentPage}}" class="pagination-link is-current" aria-label="Goto page 1">{{currentPage}}</a></li>
                        {% if currentPage == pages %}
                            <li><a class="pagination-link" disabled>{{pages}}</a></li>
                        {% else %}
                            <li><a href="{{url}}?com={{pages}}" class="pagination-link">{{pages}}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>


    </div>

{% endblock %}
